
/* Global */
.vheight-100 {
  min-height: 100vh;
}

/* Styles related to NavBar */
.navbar-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.below-nav {
  padding-top: 5rem;
}

/* Icons */
.icon-size {
  font-size: 1.5rem;
}

/* Filters and projects */
.list-group-item {
  background-color: transparent;
}

.list-group-item.active {
  background-color: #055c9d;
  border-color: #055c9d;
}

.list-group-item-action:hover {
  background-color: #0e86d4;
  color: white;
}

small.watch-date {
  text-align: right;
}

.projects-title {
  margin-top: 2rem;
}

.notbold{
  font-weight:normal;
}​

/* Class for important tasks */
.favorite {
  color: red;
}

.bi-favorite {
  color: red;
}


/* Chaning color when mouse over to suggest that interaction is possible */

.bi-star:hover {
  fill: #0e86d4;
  color: #055c9d;
}

.bi-star-fill:hover {
  fill: #0e86d4;
  color: #055c9d;
}

.bi-trash:hover {
  fill: red;
  color: red;
}

.bi-pencil-square:hover {
  fill: green;
  color: green;
}

.width-100 {
  width: 100%;
}
.container-max-width {
  max-width: 100%;
}


/* Add task button */
.fixed-right-bottom {
  position:relative;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 50%;
}

/* Adding padding to form */
.form-padding {
  padding: 2rem;
}


.keep-white-space {
  white-space: pre-wrap;
}

.toast {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.distance {
  margin-right: 50px;
}

.play {
  background-color: green;
  border-color: green;
  position: absolute;
  right: 411px;
  top: 55%;
  transform: translateY(-50%);
}

.play:hover {
  background-color: rgb(28, 110, 3);
  border-color: rgb(28, 110, 3);
}

.rainbow {
  color: rgba(0, 204, 255, 0.973);
  position: absolute;
  right: 210px;
  top: 20%;
  transform: translateY(-50%);
}

.welcome {
  color: rgba(0, 102, 255, 0.973);
  position: absolute;
  left: 210px;
  top: 18%;
  transform: translateY(-50%);
}

.login-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 20%;
  top: 40%;
  transform: translateY(-50%);
}

.container {
  display:grid;
  left: 0%;
  grid-template-columns: 17rem 17rem 17rem;
  grid-gap: 3rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .login-form {
    order: 2;
  }
}

.ingredient-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.ingredient-list__item {
  background-color: #92ec77;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
}

.protein-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.protein-list__item {
  background-color: #eb81d4;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
}

.bowl-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.bowl-list__item {
  background-color: #e79959;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
}

.category {
  background-color: #d5e97b;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}

.categorynohover {
  background-color: #d0e960;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}

.category:hover {
  background-color: #ddc175;
}

.info {
  background-color: #d0e960;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}

.display-linebreak {
  white-space: pre-line;
}

.order-0 {
  background-color: #dfb28e;;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}
.order-1 {
  background-color: #b49e8a;;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}
.order-1:hover {
  background-color: #af8f70;;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}
.order-12 {
  background-color: #ebb9e0;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}
.order-2 {
  background-color: #cf8cc1;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}
.order-2:hover {
  background-color: #c776b5;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}
.order-23 {
  background-color: #a6e692;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}
.order-3 {
  background-color: #76bd61;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}
.order-3:hover {
  background-color: #5d924d;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 8px;
}